@model IEnumerable<WebApplication.Models.Task>

@{
    ViewBag.Title = "Planner App";
}
<br/>



<div class="body-content" runat="server">
    <div class="add_btn">
        @Html.ActionLink("Добавить задачу", "Create", null, new { @class = "btn btn-default btn-lg btn-block" })
    </div>
    <br />

    <h4>Закрепленные</h4>
    @{ var i = 0; }
    @foreach (var item in Model)
    {
        if (item.isActive)
        {
            i++;
            <div class="entry @(item.isActual ? "actual" : "overdue")">
                <div class="head">
                    <div class="name">
                        <span class="title">@Html.DisplayFor(modelItem => item.Name)</span>
                    </div>
                    <div class="date">
                        @Html.DisplayFor(modelItem => item.Date)
                    </div>
                    <div class="ctrl">
                        @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "glyphicon glyphicon-edit" })
                        @Html.ActionLink(" ", "Details", new { id = item.ID }, new { @class = "glyphicon glyphicon-eye-open" })
                        @Html.ActionLink(" ", "Delete", new { id = item.ID }, new { @class = "glyphicon glyphicon-trash" })
                    </div>
                </div>
                <div class="description">
                    @Html.DisplayFor(modelItem => item.Description)
                </div>
            </div>
        }
    }
    @if (i == 0)
    {<span class="info_message">Нет закрепленных задач</span>}
    <br />

    <h4>Другие заметки</h4>
    @foreach (var item in Model)
    {
        if (!item.isActive)
        {
            <div class="entry @(item.isActual ? "actual" : "overdue")">
                <div class="head">
                    <div class="name">
                        <span class="title">@Html.DisplayFor(modelItem => item.Name)</span>
                    </div>
                    <div class="date">
                        @Html.DisplayFor(modelItem => item.Date)
                    </div>
                    <div class="ctrl">
                        @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "glyphicon glyphicon-edit" })
                        @Html.ActionLink(" ", "Details", new { id = item.ID }, new { @class = "glyphicon glyphicon-eye-open" })
                        @Html.ActionLink(" ", "Delete", new { id = item.ID }, new { @class = "glyphicon glyphicon-trash" })
                    </div>
                </div>
                <div class="description">
                    @Html.DisplayFor(modelItem => item.Description)
                </div>
            </div>
        }

    }


</div>
